<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" type="text/css" href="/css/medicineCategories.css" />
    <title>Companies</title>
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %>
    <main>
      <section class="body_containar">
        <h2 class="title">
          <%= meds[0].type %>
          <span style="font-weight: 100; font-size: large;">Available brand names</span>
        </h2>
        <div class="containar">
          <% meds.map((med)=>{ %>
          <a href="medicine/<%= med._id %>">
            <div class="list">
              <h4><%= med.name %></h4>
              <p><%= med.strength %></p>
              <p><%= med.generic %></p>
              <p><%= med.company %></p>
            </div>
          </a>
          <% }) %>
        </div>
      </section>
    </main>
  </body>
</html>
