<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" type="text/css" href="/css/medicineCategories.css" />
    <link rel="stylesheet" type="text/css" href="/css/common.style.css" />
    <title>Companies</title>
  </head>
  <body id="home_bg">
    <div class="blurBG"></div>
    <%- include("./partials/navbar.ejs") %>
    <main>
      <div class="blurBG_2"></div>
      <section class="body_containar">
        <div class="title">
          <div class="tagHeaderBlurBG"></div>
          <h2>List of Available Dosage Forms</h2>
        </div>
        <div class="containar">
          <% medForms.map((cat)=>{ %>
          <a
            data-tilt
            data-tilt-max="6"
            data-tilt-speed="1000"
            data-tilt-perspective="500"
            href="?type=<%= cat._id.type.trim() %>"
            class="list"
          >
            <div class="smallBlurBG"></div>
            <div
              style="display: flex; align-items: center; justify-content: start"
            >
              <img
                style="width: 2.5rem; height: auto; margin-right: 8px"
                src="/assets/drag_forms/<%= cat._id.iconId %>.png"
                alt="<%= cat._id.iconId %>"
              />
              <div>
                <h4><%= cat._id.type %></h4>
                <p><%= cat.count %> brand names</p>
              </div>
            </div>
          </a>
          <% }) %>
        </div>
      </section>
    </main>
    <script type="text/javascript" src="/js/vanilla-tilt.js"></script>
  </body>
</html>
